.glassCard {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  gap: 1rem;
}

.imageWrapper {
  flex: 1;
}

.image {
  width: 100%;
}

.title {
  flex: 1;
  display: flex;
  justify-content: center;
}
